.list-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}
.history-detaile-cont {
  display: flex;
  align-items: center;
}
.time {
  font-size: 20px;
  padding-right: 20px;
}
.logo {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.title {
  font-size: 18px;
  font-family: roboto;
  font-weight: 500;
  padding-right: 20px;
}
